* {
  /* box-sizing: border-box; */
  box-sizing: border-box;
}

:focus {
  /* TODO */
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* TODO */
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ffe8bd41, #ffa500);
}

input {
  /* TODO */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

.search-container {
  /* TODO */
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.299);
}
/* .search-container input,
.search-container .suggestions {
  /* TODO */

.search-container input {
  /* TODO */
  background-color: #49c5e82c;
}
.search-container .suggestions {
  /* TODO */
  width: 100%;
  /* padding: 10px; */
  /* border: 1px solid #ccc;
  border-radius: 5px; */
  font-size: 16px;
}

ul {
  /* TODO */
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul.has-suggestions {
  /* TODO */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
ul li {
  /* TODO */
  padding-top: 10px;
  padding-bottom: 10px;
}
ul li:hover {
  /* TODO */
  background-color: #428aacb9;
  cursor: pointer;
}
